<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceEnseignement" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52087/ServiceEnseignement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEnseignement"
                contract="ServiceReferenceEnseignement.IServiceEnseignement"
                name="BasicHttpBinding_IServiceEnseignement" />
        </client>
    </system.serviceModel>
</configuration>